<div class="container">
  <div class="row">
    <div class="col">
      <h3>注文履歴一覧</h3>
    </div>
  </div>
  <div class="row">
    <table>
      <thead>
        <tr>
          <th><P>購入日時</P></th>
          <th><P>購入者</P></th>
          <th><P>注文個数</P></th>
          <th><P>注文ステータス</P></th>
        </tr>
      </thead>
      <tbody>
        <% @order_details.each  do |order_detail| %>
          <tr>
            <th><%= order_detail.created_at %></th>
            <th><%= order_detail.order.address_name %></th>
            <th>
              <%= order_detail.amount %>
            </th>
            <th>
              <%= order_detail.create_status %>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col">
      <p>1 2 3 Next＞ Last >></p>
    </div>
  </div>
</div>